body {
    background-color: aquamarine;
}
.tag {
    height: 400px;
    width: 20%;
    position: relative;
    border: 1px solid whitesmoke;
    background-color: white;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.img-tag {
    width: 100%;
    height: 200px;
}
.tag > h5 {
    font-size: 20px;
    color: blue;
}
.co-VN {
    height: 45px;
    width: 70px;
}
.logo-VN {
    position: absolute;
    top:43%;
    left: 5%;
}
